.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 70%;
  max-width: 450px;
  background-color: #1e1e1e;
  border-radius: 30px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.innerTitle {
  color: #cebea4;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-align: center;
}

.closeForm {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.closeForm:hover {
  background-color: #ff5631;
  border-color: #ff5631;
}

.closeForm img {
  width: 20px;
}

.form {
  width: 100%;
}

.form label {
  color: #cebea4;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.form input {
  height: 30px;
  width: 100%;
  color: #cebea4;
  outline: none;
  border: none;
  background-color: #0d0d0d;
  border-radius: 30px;
  padding: 0 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 10px 0;
}

.formButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.formButton button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 32px;
  background-color: white;
  color: #0d0d0d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;
}

.formButton button:hover {
  color: white;
  background-color: #ff5631;
}

button span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.formButton img {
  width: 30px;
}

.date-picker-container {
  width: 100%;
}

.dateInput {
  width: 100%;
  padding: 1px 20px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .popupInner {
    width: 90%;
    padding: 20px;
  }

  .form input {
    padding: 0 10px;
  }

  .formButton {
    justify-content: center;
  }
}
